<!-- Footer Template -->
<div id="footer-bar">
    <div id="footer-content">
        <span class="copyright">&copy; 2020</span>
        <span class="copyright">Jared Suda</span>
    </div>
</div>
</body>
</html>