<!-- Footer Template -->
<div id="footer-bar">
    <div id="footer-content">
        <div>
            <span class="copyright">&copy; 2021</span>
            <span class="copyright">Jared Suda</span>
        </div>
        <span id="theme-btn-bar" title="Change Theme">
            <span id="theme-btn" style="left: -1px">
                <img src="/icons/moon-regular.png" alt="" id="theme-icon">
            </span>
        </span>
    </div>
</div>
</body>
</html>