<%- include('./partials/header.ejs') %>
<link rel="stylesheet" href="/css/about.css">

<h1 style="text-align: center;">About</h1>

<script>
    const navBtn = document.querySelector('.about');
    navBtn.style.transition = 'color 0s';
    navBtn.style.color = 'var(--nav-text-hover)';
</script>
<%- include('./partials/footer.ejs') %>