<%- include('./partials/header.ejs') %>
<link rel="stylesheet" href="/css/home.css">

<div id="moon-container" style="display: none;">
    <div id="moon">
        <div id="eclipse"></div>
    </div>
</div>

<script>
    const navBtn = document.querySelector('.home');
    navBtn.style.transition = 'color 0s';
    navBtn.style.color = 'var(--nav-text-hover)';
</script>
<%- include('./partials/footer.ejs') %>