<%- include('./partials/header.ejs') %>
<link rel="stylesheet" href="/css/projects.css">

<!-- Tetris -->
<div class="project-div">
    <a href="/tetris"><img src="/images/darktetris.png" alt="Tetris IMG" class="project-img"></a>
    <a href="/tetris">
        <div class="project-label-right project-label">
            <h1 class="project-title">Tetris</h1>
            <h2 class="project-desc">This game was created using HTML, CSS, and Vanilla Javascript. Consists of a play/pause button and a scoreboard, as well as small window displaying the next piece in line.</h2>
        </div>
    </a>
</div>

<!-- Snake -->
<div class="project-div">
    <a href="/snake">
        <div class="project-label-left project-label">
            <h1 class="project-title">Snake</h1>
            <h2 class="project-desc">This game was created using HTML, CSS, and Vanilla Javascript. Consists of a play/pause button, current score, personal best, and a new game button. In this relaxed version of the game, it's not a game over if you run off the edge of the map. It only ends when the snake runs into itself.</h2>
        </div>
    </a>
    <a href="/snake"><img src="/images/darksnake.png" alt="Snake IMG" class="project-img"></a>
</div>


<script>
    const navBtn = document.querySelector('.projects');
    navBtn.style.transition = 'color 0s';
    navBtn.style.color = 'var(--nav-text-hover)';
</script>
<%- include('./partials/footer.ejs') %>