<%- include('./partials/header.ejs') %>
<link rel="stylesheet" href="/css/projects.css">

<!-- Tetris -->
<div class="project-div">
    <a href="/tetris"><img src="/images/darktetris.png" alt="Tetris IMG" class="project-img"></a>
    <div class="project-label">
        <a href="/tetris">
            <h1 class="project-title">Tetris</h1>
        </a>
        <h2 class="project-desc">This app was created using HTML, CSS, and Vanilla Javascript. It features a dark/light theme, play/pause button, scoreboard, and a small window displaying the next piece in line.</h2>
        <a href="https://github.com/Jttsuda/Tetris" target="_blank" class="github-link">https://github.com/Jttsuda/Tetris</a>
    </div>
</div>

<div class="line-break">
    <hr>
</div>

<!-- Snake -->
<div class="project-div">
    <a href="/snake"><img src="/images/darksnake.png" alt="Snake IMG" class="project-img"></a>
    <div class="project-label">
        <a href="/snake">
            <h1 class="project-title">Snake</h1>
        </a>
        <h2 class="project-desc">This app was created using HTML, CSS, and Vanilla Javascript. It features a dark/light theme, play/pause button, current score, personal best, and a new game button. In this relaxed version of the game, it's not a game over if you run off the edge of the map. It only ends when you run into yourself.</h2>
        <a href="https://github.com/Jttsuda/Snake" target="_blank" class="github-link">https://github.com/Jttsuda/Snake</a>
    </div>
</div>


<script>
    const navBtn = document.querySelector('.projects');
    navBtn.style.transition = 'color 0s';
    navBtn.style.color = 'var(--nav-text-hover)';
</script>
<%- include('./partials/footer.ejs') %>