<%- include('./partials/header.ejs') %>

<h1 style="text-align: center;">Projects</h1>

<script>
    const navBtn = document.querySelector('.projects');
    navBtn.style.transition = 'color 0s';
    navBtn.style.color = 'var(--nav-text-hover)';
</script>
<%- include('./partials/footer.ejs') %>