.project-div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
}
.project-img {
  height: 300px;
  transition: all 1s;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 4px;
}
.project-label-right:hover,
.project-label-left:hover,
.project-img:hover {
  opacity: 0.8;
}

/* Label Styles */
.project-label {
  text-align: center;
  padding: 70px 70px;
  transition: all 1s;
  max-width: 800px;
}
.project-label-right {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.8),
    rgba(0, 0, 0, 0)
  );
  margin-left: 20px;
}
.project-label-left {
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.8),
    rgba(0, 0, 0, 0)
  );
  margin-right: 20px;
}
.project-title {
  transform: translateY(-20px);
}
.project-desc {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif,
    "Arial Narrow", Arial, sans-serif;
  font-weight: 100;
}
